black
flake8
ipython
isort
jupyterlab
matplotlib
mkdocs
notebook
numpy==1.26.4
pandas
pip
python-dotenv
-e .
flask==2.2.5
flask_basicauth==0.2.0
textblob==0.18.0.post0
googletrans==3.1.0a0
scikit-learn==1.2.2